body{
    background-color: #cdcdcd;
}
form{
    margin: 20px 0;
}

form input, button{
    padding: 5px;
}

table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid #9c6666;
}

table th, table td{
    padding: 10px;
    text-align: left;
}
button{
    cursor: pointer;
}

.add-person{
    cursor: pointer;
}
h3{
    align-items: right;
}

:checked{
    cursor: pointer;
}

check-box{
    cursor: pointer;
}